<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Static Template</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link href="{{cssGlobal}}" rel="stylesheet" />
  <link href="{{cssFile}}" rel="stylesheet" />
  <link href="https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css" rel="stylesheet" />
  <link data-react-helmet="true" rel="icon" type="image/png" sizes="64x64" href="https://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/fedc44c631782963d0533c63599904e4.png">
  <html prefix="og: https://ogp.me/ns#">
<head>
<title>Ornikar</title>
<meta property="og:title" content="Ornikar" />
<meta property="og:type" content="image/jpeg" />
<meta property="og:url" content="/" />
<meta property="og:image" content="https://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/da1b2b54540a4df022ccd4581ef06961.svg" />
</head>