<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Static Template</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link href="{{cssGlobal}}" rel="stylesheet" />
  <link href="{{cssFile}}" rel="stylesheet" />
  <link href="https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css" rel="stylesheet" />
  <link data-react-helmet="true" rel="icon" type="image/png" sizes="64x64" href="https://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/fedc44c631782963d0533c63599904e4.png">
  <html prefix="og: https://ogp.me/ns#">

<title>Passez dès aujourdʼhui votre examen du code de la route avec Ornikar</title>
<meta name="title" content="Passez dès aujourdʼhui votre examen du code de la route avec Ornikar">
<meta name="description" content="">

<meta name="description" property="og:type" content="website">
<meta name="description" property="og:url" content="https://ornikar-dynamique.vercel.app/">
<meta name="description" property="og:title" content="Passez dès aujourdʼhui votre examen du code de la route avec Ornikar">
<meta name="description" property="og:description" content="">
<meta name="description" property="og:image" content="https://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/52ed29e6b160248ffa0ec4ec9d22dc15.jpg">

<meta name="description" property="twitter:card" content="summary_large_image">
<meta name="description" property="twitter:url" content="https://ornikar-dynamique.vercel.app/">
<meta name="description" property="twitter:title" content="Passez dès aujourdʼhui votre examen du code de la route avec Ornikar">
<meta name="description" property="twitter:description" content="">
<meta name="description" property="twitter:image" content="https://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/52ed29e6b160248ffa0ec4ec9d22dc15.jpg">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PMT9G5FQXR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PMT9G5FQXR');
</script>
</head>