<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Static Template</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link href="{{cssGlobal}}" rel="stylesheet" />
  <link href="{{cssFile}}" rel="stylesheet" />
  <link href="https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css" rel="stylesheet" />
  <link data-react-helmet="true" rel="icon" type="image/png" sizes="64x64" href="https://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/fedc44c631782963d0533c63599904e4.png">
  <html prefix="og: https://ogp.me/ns#">
<head>
<title>Ornikar</title>
<meta property="og:title" content="Ornikar">
<meta property="og:site_name" content="Ornikar">
<meta property="og:type" content="website">
<meta property="og:locale" content="fr_FR">
<meta property="og:image" content="https://www.ornikar.comhttps://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/0a2f0d07b2689f510d55d5196cc70d00.png">
<meta property="og:description" content="Passez dès aujourdʼhui votre examen du code de la route avec Ornikar">
<meta property="fb:admins" content="511509501,722270413">
<meta property="fb:app_id" content="649032728489558">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ornikar">
<meta name="twitter:title" content="Ornikar">
<meta name="twitter:description" content="Passez dès aujourdʼhui votre examen du code de la route avec Ornikar">
<meta name="twitter:creator" content="@ornikar">
<meta name="twitter:image" content="https://www.ornikar.comhttps://assets.ornikar.com/ornikar-fr-prod-main-website/_next/static/assets/0a2f0d07b2689f510d55d5196cc70d00.png">

</head>