body {
  margin: 0;
  font-family: quicksand;
}

.navbar {
  background-color: #ffede6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 40px;
  }
}

@media (min-width: 480px) {
  .navbar {
    padding: 20px;
  }
}

.svg_logo_ornikar {
  height: 22px;
  fill: #4c34e0;
}

@media (min-width: 768px) {
  .svg_logo_ornikar {
    height: 30px;
  }
}

@media (min-width: 480px) {
  .svg_logo_ornikar {
    height: 28px;
  }
}

.nav_link {
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin-right: 40px;
}

.nav_link:hover {
  text-decoration: underline;
}

.primary_button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-family: quicksand;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  background-color: #4c34e0;
  cursor: pointer;
  width: auto;
}

.nav_burger_button {
  padding: 10px 17px;
  color: #fff;
  border-radius: 30px;
  background-color: #4c34e0;
  cursor: pointer;
}

.nav_content {
  display: none;
}

@media (min-width: 768px) {
  .nav_content {
    display: block;
  }

  .burger_button {
    display: none;
  }
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.titleblue {
  color: #4c34e0;
}

.txtgras {
  font-weight: bold;
}

.links_style {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.links_style:hover {
  text-decoration: underline;
}

.txt_small {
  font-size: 0.9rem;
}