.title_container {
  padding: 0.75em 1em 3.5em;
  text-align: center;
}

.subscribe_title {
  margin: auto;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 40px;
  max-width: 30rem;
}

@media (min-width: 768px) {
  .subscribe_title {
    font-size: 3rem;
  }
}

.subscribe_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px 40px;
}

@media (min-width: 768px) {
  .subscribe_container {
    margin: auto;
    max-width: 30rem;
  }
}

.label_input_container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 10px;
}

.label_input_container label {
  padding-bottom: 6px;
}

.label_checkbox_container {
  padding: 5px 0 10px;
}

.input {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  color: #000;
  padding: 0 15px;
  height: 40px;
  outline: 0;
}

.input:hover {
  border: 2px solid #ccc;
}

.input:focus {
  border-color: #4c34e0;
}

.subscribe_button_container {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.subscribe_button_container button {
  background-color: #4c34e0;
}

.password_criteria {
  display: flex;
  flex-wrap: wrap;
}

.input_requirement {
  margin-right: 8px;
  margin-bottom: 8px;
}

.input_tag {
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 0.9rem;
}